{% extends "web/template.html" %}
{% block title %}capteur{% endblock %}

{% block content %}
    <div class="container">
        <form method="get">
            <div class="row">
                <div >
                    <input type="text" name="nom" class="form-control" placeholder="Nom ou ID du Capteur">
                </div>
                <div>
                    <input type="date" name="start_date" class="form-control" placeholder="Date de début">
                </div>
                <div>
                    <input type="date" name="end_date" class="form-control" placeholder="Date de fin">
                </div>
                <div>
                    <button type="submit" class="btn btn-primary">Filtrer</button>
                </div>
                <div  method="get" action="" >
                    <button type="submit" class="btn btn-primary" name="export_csv">Export CSV</button>
                </div>
            </div>
        </form>

        <table class="table table-striped mt-3">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nom du capteur</th>
                    <th>Pièce</th>
                    <th>Emplacement</th>
                    <th>Date</th>

                </tr>
            </thead>
            <tbody>
                {% for capteur in Capteurs %}
                <tr>
                    <td>{{ capteur.Id }}</td>
                    <td>
                        {{ capteur.Nom }}
                        <a href="{% url 'editname' capteur.Id %}">Modifier</a>
                    </td>
                    <td>
                        {{ capteur.Emplacement }}
                        <a href="{% url 'editemplacement' capteur.Id %}">Modifier</a>
                    </td>
                    <td>{{ capteur.Piece }}</td>
                    <td>{{ capteur.Date }}</td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
