{% extends "web/template.html" %}
{% block title %}index{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Capteurs</h5>
                        <p class="card-text">Voir les capteurs</p>
                        <a href="{% url 'capteur' %}" class="btn-a">Voir</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Données</h5>
                        <p class="card-text">Voir les données des capteurs</p>
                        <a href="{% url 'donnee' %}" class="btn-a">Voir</a>
                    </div>
                </div>
            </div>
    </div>
{% endblock %}
