{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta http-equiv="refresh" content="60">
    <meta charset="UTF-8">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'web/style.css' %}">
    <title>{% block title %}Default{% endblock %}</title>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="{% url 'index' %}">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            {% block nav_links %}
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'capteur' %}">Capteurs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'donnee' %}">Données</a>
                    </li>
                </ul>
            {% endblock %}
        </div>
    </nav>

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>

    <script type="text/javascript">
        function refreshPage() {
            window.location.reload(true); 
        }

        setInterval(refreshPage, 60000);
    </script>

</html>
